@import "../../global.scss";

.aboutContainer{
  background-color: white;
  font-size: large;
  line-height: 1.6;
  color: rgb(95, 3, 60);
  padding: 100px;
  padding-left: 20%;

    .bio{
      text-align: center;
      max-width: 50rem;
    }
}